<mat-toolbar class="app--toolbar">
  <span>Weather forecast</span>
  <button mat-icon-button>
    <mat-icon>token</mat-icon>
  </button>
</mat-toolbar>
<main class="weather-forecast--container">
  <app-search-bar
    [cities]="citySuggestions()"
    (searchChange)="handleSearchChange($event)"
    (citySelect)="handleCitySelect($event)"
  />

  @if (selectedCities().length > 0) {
    <app-city-forecast
      class="city-forecast"
      [city]="currentCity()"
      [isLoading]="isForecastLoading()"
      [weatherData]="currentWeatherData()"
      [forecast]="forecastDays()"
    />
  }
  @defer (when selectedCities().length > 0) {
    <div class="cities--container">
      @for (city of selectedCities(); track city.id) {
        <app-city-card
          [weatherData]="cityWeatherMap().get(city.id) ?? undefined"
          [loading]="loadingStates().get(city.id) || false"
          [selected]="currentCity()?.id === city.id"
          [errorMessage]="errors().get(city.id) ?? ''"
          (remove)="handleCityRemove(city)"
          (select)="handleCardClick(city)"
        />
      }
    </div>
  }
</main>
