:host {
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}
.app--toolbar {
  display: flex;
  justify-content: space-between;
}
main.weather-forecast--container {
  width: calc(100% - 4rem);
  height: calc(100% - 64px - 4rem);
  display: grid;
  margin: 2rem;
  gap: 2rem;
  grid-template-rows: [searchbar] max-content [forecast] max-content [city-cards] 1fr;

  .mat-mdc-form-field {
    width: 50%;
  }
  .cities--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
}
